@model WEB.Models.Randevu

@{
    ViewData["Title"] = "Yeni Randevu Oluştur";
}

<h1>Yeni Randevu Oluştur</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Kullanıcı</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalonId" class="control-label">Salon</label>
                <select asp-for="SalonId" class="form-control" asp-items="ViewBag.SalonId"></select>
                <span asp-validation-for="SalonId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="AppointmentTime" class="control-label">Randevu Zamanı</label>
                <input asp-for="AppointmentTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Fiyat</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
